.button-class {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.body {
    text-align: center;
    margin: 100px;
}

.question-page {
    text-align: center;
}

#question_header {
    margin: 100px;
}

.response-div {
    border: solid 1px black;
    margin: auto;
    padding: 10px;
    max-width: 300px;
}

#footer {
    position: fixed;
    bottom: 10%;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
}